{% extends 'emp_base.html' %}

{% block main %}

<script type="text/javascript">
    function checkpassword()
    {
        if(document.changepassword.newpassword.value!=.document.changepassword.confirmpassword.value)
        {
            alert('New Password and Confirm Password field does not match');
            document.changepassword.confirmpassword.focus();
            return false;                  //when the value not match this message will become does not form will submit
        }
        return true;      //equal is form submit
    }
</script>
<div class="card shadow m-2">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom : 2px solid orange">CHANGE PASSWORD</h5>
        <div class="container-fluid">
            <form method="post" name="changepassword" onsubmit="return checkpassword()">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" name="currentpassword" class="form-control" placeholder="Enter Current password">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="newpassword" class="form-control" placeholder="Enter New password">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" name="Confirmpassword" class="form-control" placeholder="Enter Confirm Password Again">
                        </div>
                    </div>
                </div>

                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Password Updated Successfully');
    window.location.href = ('{% url 'logout' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong, please try again...');
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('YOUR CURRENT PASSWORD IS WRONG...');
</script>
{% endif %}



{% endblock %}
