{% extends 'emp_base.html' %}

{% block main %}
<div class="card shadow m-3">
    <div class="card-body">
        <a href="{% url 'my_education' %}" class="btn btn-primary float-right btn-sm mb-3">view education details</a>
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange; text-align: center; font-weight: bold;"> EDIT EDUCATION DETAILS</h5>
        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
            <table class="table table-bordered table-striped table-hover" style="border: 1px solid #ddd; border-radius: 8px;">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>EDUCATION DETAILS</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                         <th>Post Graduation Course Name </th>
                        <td><input type="text" name="coursepg" class="form-control" value="{{education.coursepg}}"></td>
                    </tr>

                    <tr>
                        <th>Post Graduation School/College</th>
                        <td><input type="text" name="schoolclgpg" class="form-control" value="{{education.schoolclgpg}}"></td>
                    </tr>

                    <tr>
                        <th>Year of passing in Graducation</th>
                        <td><input type="text" name="yearofpassingpg" class="form-control" value="{{education.yearofpassingpg}}"></td>
                    </tr>

                    <tr>
                        <th>percentage PG</th>
                        <td><input type="text" name="percentagepg" class="form-control" value="{{education.percentagepg}}"></td>
                    </tr>

                    <tr>
                         <th> Graduation Course Name </th>
                        <td><input type="text" name="coursegra" class="form-control" value="{{education.coursegra}}"></td>
                    </tr>

                    <tr>
                        <th>Graduation School/College</th>
                        <td><input type="text" name="schoolclggra" class="form-control" value="{{education.schoolclggra}}"></td>
                    </tr>

                    <tr>
                        <th>Year of passing in Graduation</th>
                        <td><input type="text" name="yearofpassinggra" class="form-control" value="{{education.yearofpassinggra}}"></td>
                    </tr>

                    <tr>
                        <th>percentage Graduation</th>
                        <td><input type="text" name="percentagegra" class="form-control" value="{{education.percentagegra}}"></td>
                    </tr>

                    <tr>
                        <th>SSC Course Name </th>
                        <td><input type="text" name="coursessc" class="form-control" value="{{education.coursessc}}"></td>
                    </tr>

                    <tr>
                        <th>SSC School/College</th>
                        <td><input type="text" name="schoolclgssc" class="form-control" value="{{education.schoolclgssc}}"></td>
                    </tr>

                    <tr>
                        <th>Year of passing SSC</th>
                        <td><input type="text" name="yearofpassingssc" class="form-control" value="{{education.yearofpassingssc}}"></td>
                    </tr>

                    <tr>
                        <th>percentage HSC</th>
                        <td><input type="text" name="percentagessc" class="form-control" value="{{education.percentagessc}}"></td>
                    </tr>
                <tr>
                        <th>HSC Course Name </th>
                        <td><input type="text" name="coursehsc" class="form-control" value="{{education.coursehsc}}"></td>
                    </tr>

                    <tr>
                        <th>HSC School/College</th>
                        <td><input type="text" name="schoolclghsc" class="form-control" value="{{education.schoolclghsc}}"></td>
                    </tr>

                    <tr>
                        <th>Year of passing HSC</th>
                        <td><input type="text" name="yearofpassinghsc" class="form-control" value="{{education.yearofpassinghsc}}"></td>
                    </tr>

                    <tr>
                        <th>percentage SSC</th>
                        <td><input type="text" name="percentagehsc" class="form-control" value="{{education.percentagehsc}}"></td>
                    </tr>

                </tbody>
            </table>
               <center><input type="submit" value="Submit" class="btn btn-primary m-2 px-3"></center>
            </form>
        </div>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('EDUCATION HAS BEEN UPDATED!!');
    window.location.href = ('{% url 'edit_myeducation' %}');
</script>
{% elif error == "yes" %}
<script>
    alert('Something went wrong, please try again...');
</script>
{% endif %}

{% endblock %}

